@charset "UTF-8";
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

/* When we use Firefox, links are surrounded by a rated box once you’ve pressed them.
 * To solve this problem, we must use the property outline in the following way:
 */
a:active, a:focus {
  outline: none; }

/* Change the box model. Recommended for resposive websites. */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  list-style: none; }

/*********** Button styles - OOCSS model **************/
.btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  zoom: 1;
  vertical-align: bottom;
  text-align: center;
  margin: 5px 5px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #555; }

.btn:hover {
  color: white;
  background: #0e74af !important; }

.btn-small {
  padding: 5px; }

.btn-normal {
  padding: 10px; }

.btn-big {
  padding: 15px; }

.btn-green {
  background: linear-gradient(to bottom, #70b500 0, #64a200 100%) !important;
  color: white; }

.btn-gray {
  background: linear-gradient(to bottom, #fff 0, #f8f9f9 100%);
  color: #555; }

.btn-outline {
  background: transparent; }

.btn-outline-blue {
  border: 1px solid #5e98ba;
  color: #5e98ba; }

.btn-outline-white {
  background: transparent;
  border: 1px solid white;
  color: white; }

/**************** End Button styles ***************/
html {
  background: #0e74af; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13pt;
  color: #444; }

a {
  color: #5E98BA;
  text-decoration: none; }

a:hover {
  color: darkslateblue; }

h1 {
  font-size: 17px;
  font-weight: 600;
  display: block; }

img {
  max-width: 100%;
  box-sizing: border-box;
  height: auto; }

footer {
  text-align: center;
  font-size: 13pt;
  padding: 30px 0px;
  background: white; }
  footer a {
    padding-left: 8px;
    text-decoration: underline; }

p {
  text-align: left; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em; }

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2); }

body {
  scrollbar-face-color: rgba(255, 255, 255, 0.6);
  scrollbar-track-color: rgba(255, 255, 255, 0.2); }

.no-display {
  display: none !important; }

.hidden {
  visibiliy: hidden; }

.disabled {
  opacity: 0.7;
  cursor: auto; }

.pointer {
  cursor: pointer; }

.bold {
  font-weight: 700; }

.big {
  font-size: 26pt; }

.small {
  font-size: 12px; }

.white-text, .board {
  color: white; }

.border-bottom {
  border-bottom: 1px solid #999; }

.underline {
  text-decoration: underline; }

.round {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

/********** Style for labels **************************/
.green {
  background: green; }

.blue {
  background: #0e74af; }

.red {
  background: red; }

.orange {
  background: orange; }

.white {
  background: white; }

/******************************************************/
.overlay {
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5;
  background: rgba(1, 1, 1, 0.5);
  opacity: 0;
  overflow: auto; }

.overlay.visible {
  z-index: 15;
  opacity: 1; }

.clear {
  clear: both; }

.no-overflow {
  overflow: hidden; }

.wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  clear: both; }

.width-90 {
  width: 90%; }

.width-80 {
  width: 80%; }

.width-60 {
  width: 60%; }

.width-50 {
  width: 50%; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  float: none;
  margin: 0 auto; }

.block {
  display: block; }

.i-block {
  display: inline-block; }

.absolute-center {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto; }

.text-center, .board-add {
  text-align: center; }

.break, .break-1, .break-2, .break-4 {
  display: block; }

.break-1 {
  margin: 5px 0px; }

.break-2 {
  margin: 10px 0px; }

.break-4 {
  margin: 20px 0px; }

.logo {
  background: url("../images/logo.png") no-repeat;
  background-position: center;
  background-size: 100%; }

.logo-big {
  width: 266px;
  height: 74px; }

.logo-small {
  background: url("../images/logo-small.png") no-repeat;
  background-position: center;
  background-size: 100%;
  width: 108px;
  height: 30px; }

.logo-medium {
  width: 200px;
  height: 55px; }

.alt-bg:nth-child(even) {
  color: white;
  background: #0e74af; }

.alt-bg:nth-child(odd) {
  color: #444;
  background: white; }

#hero {
  padding: 6%;
  font-size: 16pt; }
  #hero h1 {
    padding: 2% 15%; }
  #hero p {
    padding: 0% 22%;
    color: #555; }

.home-article {
  font-size: 15pt; }

.home-article-text {
  padding: 80px 0% 40px; }

.home-article-image {
  padding: 0px 60px; }

.header-item {
  background: rgba(255, 255, 255, 0.27);
  height: 30px;
  /*margin-left: 8px;*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
  display: inline-block;
  float: none;
  vertical-align: top; }

.header-item:hover {
  opacity: 0.85; }

#header-boards {
  background: #0B5B8A;
  height: 39px;
  padding: 4px;
  position: relative;
  z-index: 10; }
  #header-boards #logo {
    height: 39px;
    -webkit-transition: 0.1s all ease-in-out;
    -moz-transition: 0.1s all ease-in-out;
    -ms-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
    opacity: 0.8; }
  #header-boards #logo:hover {
    -webkit-transition: 0.1s all ease-in-out;
    -moz-transition: 0.1s all ease-in-out;
    -ms-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
    opacity: 1; }

#profile {
  float: right;
  color: white;
  max-width: 140px;
  font-size: 12pt;
  margin-right: 5px; }
  #profile figure {
    margin: 0;
    width: 30px;
    display: inline-block;
    vertical-align: middle; }
  #profile span {
    margin: 0;
    font-size: 11pt;
    padding-left: 5px;
    padding-right: 10px;
    line-height: 2; }

#notifications {
  background: url("../images/bell.png") no-repeat rgba(255, 255, 255, 0.27);
  margin-right: 5px;
  float: right;
  width: 30px;
  background-size: 20px;
  background-position: center; }

#add {
  background: url("../images/plus.png") no-repeat rgba(255, 255, 255, 0.27);
  float: right;
  width: 30px;
  background-size: 25px;
  background-position: center;
  margin-right: 5px; }

#boards {
  width: 90px;
  background: url("../images/icon-white.png") no-repeat rgba(255, 255, 255, 0.27);
  background-size: 17px;
  background-position: 6px center;
  color: white;
  font-size: 11pt;
  padding-left: 30px;
  line-height: 2;
  margin-left: 5px;
  display: inline-block; }

#search {
  width: 15%;
  background: url("../images/search.png") no-repeat rgba(255, 255, 255, 0.27);
  -webkit-transition: 0.1s all ease-in-out;
  -moz-transition: 0.1s all ease-in-out;
  -ms-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
  background-size: 20px;
  background-position: 95% center; }
  #search input {
    width: 100%;
    background: transparent;
    border: none;
    height: 100%; }
  #search input:focus {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    border: 0;
    width: 100%;
    box-shadow: none;
    -webkit-appearance: none;
    outline: none; }
  #search #search-open, #search #search-close {
    display: inline;
    margin: 0px 2px;
    opacity: 0.7; }

#search.focused {
  width: 24%;
  background: white; }

#boards_container {
  padding: 10px 15px;
  z-index: 6; }

.boards-list-container {
  clear: both; }

.boards-list-container > h1 {
  padding: 4px 0px;
  margin-bottom: 16px;
  margin-top: 20px; }
  .boards-list-container > h1 a {
    font-size: 11px;
    color: #666; }

.boards-list-container > h1:before {
  color: #999;
  padding-right: 10px;
  margin-right: 10px;
  font-size: 20px; }

.boards-list {
  margin-left: 35px;
  margin-right: 0px; }

.board {
  -webkit-transition: 0.1s all ease-in-out;
  -moz-transition: 0.1s all ease-in-out;
  -ms-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
  position: relative;
  width: 24%;
  height: 105px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #0E74AF;
  padding: 10px 0px 10px 14px;
  font-size: 16px; }

.board:hover {
  background: #0B5B8A;
  color: white;
  -webkit-transition: 0.1s all ease-in-out;
  -moz-transition: 0.1s all ease-in-out;
  -ms-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out; }

.board-add {
  background: #d6dadc;
  color: #444; }

.board-add > span {
  vertical-align: sub; }

.board-add:hover {
  background: #CCD0D3;
  color: #444; }

#board-ribbon {
  padding: 15px; }
  #board-ribbon .icon-star {
    color: gold;
    padding: 6px;
    background: rgba(1, 1, 1, 0.1);
    font-size: 14px; }
  #board-ribbon .icon-star:hover {
    background: rgba(1, 1, 1, 0.2); }

#board-ribbon > h1 {
  margin: 0; }

#board-ribbon #menu_toggle {
  margin-top: 4px; }

@media (min-width: 680px) and (max-width: 1023px) {
  /* CSS for resposiveness on Index page
   * Style for Tablets
   */
  .home-article-text {
    padding: 25px 2% 20px;
    width: 90%;
    font-size: 12pt; }

  .home-article-image {
    padding: 0px 5%;
    margin: 0; }

  #hero h1 {
    padding: 16px 0%;
    width: 100%;
    font-size: 18pt; }
  #hero p {
    padding: 0 4%;
    font-size: 13pt;
    width: 90%; }

  .logo-big {
    width: 200px;
    height: 55px; }

  #header-boards #search {
    width: 34px;
    background-position: center; }

  #header-boards #profile span {
    display: none; }

  #header-boards #boards {
    font-size: 0px;
    width: 0px; }

  #header-boards #logo {
    width: 70px; } }
@media (min-width: 120px) and (max-width: 679px) {
  footer {
    display: none; }

  /* CSS for resposiveness on Index page
   * Style for Phones
   */
  .home-article-text {
    padding: 25px 2% 20px;
    width: 90%;
    font-size: 12pt; }

  .home-article-image {
    padding: 0px 5%;
    margin: 0; }

  #hero h1 {
    padding: 16px 0%;
    width: 100%;
    font-size: 18pt; }
  #hero p {
    padding: 0 4%;
    font-size: 13pt;
    width: 90%; }

  #hero {
    padding: 6% 2%; }

  .logo-big {
    width: 200px;
    height: 55px; }

  #header-boards #search {
    width: 34px;
    background-position: center; }

  #header-boards #profile span {
    display: none; }

  #header-boards #boards {
    font-size: 0px;
    width: 0px; }

  #header-boards #logo {
    width: 70px; }

  .board {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
