/* begin scss */

@import 'reset';

// defne macros 
$bgColor:  rgb(14, 116, 175);
$primaryColor: #026aa7;
$secondaryColor: #cdd2d4;
$primaryFontColor: #555;
$secondaryFontColor: #5e98ba;
$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Anaheim', sans-serif;
$ScriptFont: 'Rochester', cursive;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	-ms-box-shadow: $shadow;
	box-shadow: $shadow;
}
@mixin img-tag(){
	max-width: 100%;
	box-sizing: border-box;
	height: auto;
}
@mixin transition($time,$prop,$ease){
	-webkit-transition: $time $prop $ease;
	-moz-transition: $time $prop $ease;
	-ms-transition: $time $prop $ease;
	transition: $time $prop $ease;
}
@mixin transition-all(){
	-webkit-transition: 0.1s all ease-in-out;
	-moz-transition: 0.1s all ease-in-out;
	-ms-transition: 0.1s all ease-in-out;
	transition: 0.1s all ease-in-out;
	
}
@mixin transform($function){
	-webkit-transform: $function;
	-moz-transform: $function;
	-ms-transform: $function;
	transform: $function;
}
@mixin add-bg-image($url){
	background: url('../images/'+$url+'.png') no-repeat;
}
@mixin add-bg-image-color($url,$color){
	background: url('../images/'+$url+'.png') no-repeat $color;
}


body{
	font-family: $primaryFont;
	font-size: 13pt;
	color: $primaryFontColor;
	overflow: hidden;
}
a{
	color: $secondaryFontColor;
	text-decoration: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
.show{
	
}
.hide{
	display: none !important;
}
.bold{
	font-weight: bold;
}
.big{
	font-size: 26pt;
}
.white{
	color: white;
}
.no-overflow{
	overflow: hidden;
}
.button{
	@include border-radius(6px);
	padding: 12px 18px;
	text-align: center;
}
.button.green{
	background: linear-gradient(to bottom, #70b500 0, #64a200 100%);
	color: white;
	border: none;
	@include box-shadow(0px 0px 3px #AAA);
}
.button.basic.blue{
	background: transparent;
	border: 1px solid rgb(94, 152, 186);
	color: rgb(94, 152, 186);
}.button.basic.white{
	background: transparent;
	border: 1px solid white;
	color: white;
}
.border-bottom{
	border-bottom: 1px solid #999;
}

.close{
	@include add-bg-image(close);
	background-size: 100%;
	background-position: center;
	float: right;
	width: 20px;
	height: 100%;
}
.open{
	@include add-bg-image(open);
	background-size: 100%;
	background-position: center;
	float: right;
	width: 20px;
	height: 100%;
}
header{
	background: $primaryColor;
}
#header-home{
	background: white;
	text-align: center !important;
	padding: 6%;
	margin: 0 auto;
	font-size: 16pt;
	summary{
		padding: 2% 15%;
		text-align: center !important;
		display: block;
	}
	p{
		padding: 0% 22%;
	}
	a{
		text-decoration: underline;
	}
	.logo{
		display: inline-block;
		
	}
	img{
		@include img-tag();
	}
}

footer{
	text-align: center;
	font-size: 13pt;
	padding: 30px 0px;
	background: white;
	
	a{
		padding-left: 8px;
		text-decoration: underline;
	}
}
@media only screen and (max-width: 400px){
	footer{
		display: none;
	}
}
section{

}
.content{
	
}
//////// Index CSS ////////////////////////////////
section.content article{
	summary{
		text-align: left;
		padding: 80px 0% 40px;
		width: 60%;
		margin: 0 auto;
		display: block;
	}	
	figure{
		padding: 0px 60px;
		img{
			max-width: 100%;
			box-sizing: border-box;
		}
	}
}
article#screenshot{
	color: white;
	background: $bgColor;
	text-align:center;
	font-size: 15pt;
}
article#abilities{
	color: black;
	background: white;
	text-align:center;
	font-size: 15pt;
}
article#signup{
	color: white;
	background: $bgColor;
	text-align:center;
	font-size: 15pt;
}  /*text-align: left;
  padding: 80px 0% 40px;
  text-indent: 18%;*/
@media only screen and (max-width: 950px){
	section.content article{
		summary{
			text-align: left;
			padding: 25px 5% 20px;
			width: 90%;
			font-size: 12pt;
		}
		figure{
			padding: 0px 5%;
			margin: 0;
		}
	}
	#header-home{

		summary{
			text-align: center;
			padding: 16px 0%;
			width: 100%;
			font-size: 18pt;
		}
		p{
			padding: 0 4%;
			//text-align: left;
			font-size: 13pt;
			width: 90%;
			margin: 0 auto;
		}
		figure.logo{
				width: 200px;
		}
	}

}
@media only screen and (max-width: 640px){
	#header-home{
		padding: 6% 2%;
	}
	#header-home figure.logo{
		width: 200px;
	}
}

////////////////// boards css /////////////////////////
#header-boards{
	background: #0B5B8A;
	height: 32px;
	overflow: hidden;
	padding: 4px;
	position: relative;
	z-index: 10;
	a{
		text-decoration: underline;
	}
	#logo{
		text-align: center;
		//width: 50%;
		display: inline-table;
		position: absolute;
		left: 45%;
		a{
			display: inline-block;
		}
		figure{
			float: left;
			margin: 0;
			opacity: 0.8;
			@include transition-all();
			img{
				@include img-tag();
			}
		}
		figure:hover{
			@include transition-all();
			opacity: 1;
		}
	}

	div{
		//float: left;
	}
	.header-item{
		background: rgba(255, 255, 255, 0.27);
		height: 30px;
		/*margin-left: 8px;*/
		@include border-radius(2px);
		padding: 0px 0px 0px 0px;
		cursor: pointer;
		display: inline-flex;
		float: none;
		vertical-align: top;
	}
	.header-item:hover{
		//background: rgba(255, 255, 255, 0.17);
		opacity: 0.85;
	}
	#profile{
		float: right;
		color: white;
		max-width: 140px;
		font-size: 12pt;
		margin-right: 5px;
		figure{
			margin: 0;
			width: 30px;
			display: inline-block;
			vertical-align: middle;
		}
		span{
			margin: 0;
			font-size: 11pt;
			padding-left: 5px;
			padding-right: 10px;
			line-height: 2;
		}
	}
	#notifications{
		@include add-bg-image-color(bell,rgba(255, 255, 255, 0.27));
		margin-right: 5px;
		float: right;
		width: 30px;
		background-size: 20px;
		background-position: center;
	}
	#notifications:hover{
	}
	#add{
		@include add-bg-image-color(plus,rgba(255, 255, 255, 0.27));
		float: right;
		width: 30px;
		background-size: 25px;
		background-position: center;
		margin-right: 5px;
	}
	#boards{
		width: 70px;
		@include add-bg-image-color(icon-white,rgba(255, 255, 255, 0.27));
		background-size: 20px;
		background-position: 6px center;
		color: white;
		font-size: 11pt;
		padding-left: 30px;
		line-height: 2;
		margin-left: 5px;
		display: inline-block;
	}
	#search{
		width: 15%;
		//margin-left: 8px;
		@include add-bg-image-color(search,rgba(255, 255, 255, 0.27));
		@include transition-all();
		background-size: 20px;
		background-position: 95% center;
		input{
			width: 100%;
			background: transparent;
			border: none;
			height: 100%;

		}
		input:focus{
			@include border-radius(4px);
			border: 0;
			width: 100%;
			box-shadow: none;
			-webkit-appearance: none;
			outline: none; 
		}
		#search-open,#search-close{
			  display: inline;
			  margin: 0px 2px;
			  opacity: 0.7;
		}
	}
	#search.focused{
		width: 24%;
		background: white;
		
	}


}
@media (max-width: 800px){
	#header-boards #search{
		width: 34px;
		background-position: center;
	}
	#header-boards #profile span{
		display: none;
	}
	#header-boards #boards{
		font-size: 0px;
		width: 0px;
	}
	#header-boards #logo{
		left: 40%;
		top: 25%;

		figure{
			width: 60%;
		}
	}
}
@media only sreen and (max-device-width: 500px){
	
}

section#boards-container{
	background: white;
 	padding: 10px 15px;
	overflow: hidden;
	position: relative;
	z-index: 6;

	div[id^='boards-organization-'],div#boards-starred,div#boards-my{
		h1{
			font-size: 12pt;
			font-weight: 500;
			padding: 2px 6px;
			display:block;
			margin-bottom: 16px;
  			margin-top: 20px;
  			font-weight: 600;
			padding-left: 36px;
			background-position: 0px 2px;
			background-size: 22px;

			span.overview{
				@include add-bg-image(info);
				padding-left: 18px;
				background-size: 13px;
				background-position: 4px center;
				width: 5px;
				height: 5px;
				font-size: 11px;
				cursor: pointer;
			}
		}
	}
	div#boards-starred{
		h1{
			@include add-bg-image(star);
			padding-left: 36px;
			background-position: 0px 2px;
			background-size: 22px;
		}
	}
	div#boards-my{
		h1{
			@include add-bg-image(user);
			padding-left: 36px;
			background-position: 0px 2px;
			background-size: 22px;
		}
	}
	div[id^='boards-organization-']{
   	h1{
			@include add-bg-image(organization);
			padding-left: 36px;
			background-position: 0px 2px;
			background-size: 22px;
		}
	}
	ul{
		list-style: none;
		//margin: 5px 0px 5px 25px; 
		margin-left: 26px;
		margin-right: 5px;
	}
	li{
		display: inline-table;
		padding: 3px 10px;
		width: 22%;
		//min-width: 200px;
	}
	a:not(#org-create){
		background: #0E74AF;
		@include border-radius(4px);
		padding: 10px 0px 10px 14px;
		color: white;
		width: 100%;
		display: inline-table;
		height: 90px;
		position: relative;
  		span{
  			font-size:12pt;
  			font-weight: normal;
  		}
  		span:not(.bold){
  			@include add-bg-image(star);
			background-size: 16px;
			background-position: 96% 10%;
			display: inline-block;
  			@include transition-all();
  			opacity: 0;
  			float: right;
  			margin-right: 20px;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
  		}
  		span.starred{
  			@include add-bg-image(star-gold);
  			opacity: 1;
  		}
  		span:not(.bold):hover{
  			@include transition-all();
  			opacity: 1;
  		}
	}
	a:not(#org-create):hover{
		background: #0F6CA2;
	}
	a#add-board{
		background: #d6dadc;
		text-align: center;
		color: #444;
		span{
			font-size: 12pt;
		}
	}
	a#add-board:hover{
		background: #CCD0D3;
	}
	a#org-create{
		font-size: 12pt;
		color: #666;
		text-decoration: underline;
		margin: 20px 0px 20px 10px;
		display: block;
	}

}
@media (max-width: 750px){
	section#boards-container{
		div[id^='boards-organization-'],div#boards-starred,div#boards-my{
			li{
				display: block;
				width: 96%;
			}
		}
	}
}

span.starred{
	@include add-bg-image(star-gold);
	opacity: 1;
	background-size: 100%;
	width: 18px;
	height: 18px;
	display: inline-block;
	@include transition-all();
}
span.not-starred{
	@include add-bg-image(star);
	background-size: 100%;
	width: 18px;
	height: 18px;
	display: inline-block;
	@include transition-all();
}

// styles for the board and lists page

section#board-ribbon{
	background: $bgColor;
	height: 40px;
	padding: 5px 10px;
	padding-top: 10px;

	span{
		padding: 8px;
		color: #f6f6f6;
		border-radius: 4px;
		font-size: 10pt;
		display: inline;
		margin-right: 10px;
		cursor: pointer;
	}
	span:hover:not(.starred):not(.not-starred){
		background: rgba(0,0,0,0.1);
	}
	span.title{
		font-weight: bold;
		font-size: 12pt;
	}
	span.starred,span.not-starred{
		background-position: center;
	}
	span.starred:hover,span.not-starred:hover{
		background-size: 120%;
	}
	span#privacy{
		@include add-bg-image(lock);
		background-size: 18px;
		background-position: 4px center;
		padding-left: 25px;

	}
	span#privacy:hover{
		@include add-bg-image-color(lock,rgba(0,0,0,0.1));
		background-size: 18px;
		background-position: 4px center;
	}
	span#menu-toggle{
		@include add-bg-image(left);
		background-size: 18px;
		background-position: 4px center;
		padding-left: 25px;
		text-decoration: underline;

	}
	span#menu-toggle:hover{
		@include add-bg-image-color(left,rgba(0,0,0,0.1));
		background-size: 18px;
		background-position: 4px center;
	}

}
section#board-content{
	background: $bgColor;
	min-height: 605px;
	max-height: 700px;;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	padding-left: 10px;
	overflow-x: auto;
	overflow-y: hidden;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: flex-start;
	//flex-flow:row;	
	height:100%;
	//position:absolute;
	//width:100%;

	.list{
		@include border-radius(4px);
		background: #e2e4e6;
		max-width: 270px;
		min-width: 270px;
		margin: 0px 5px;
		display: flex;
		flex-direction: column;
		/*min-width: 244px;*/

		.list-head{
			padding: 6px 10px;
			font-weight: bold;
			font-size: 16px;
			cursor: pointer;

			a{
				@include add-bg-image(down);
				width: 18px;
				height: 18px;
				background-size: 14px;
				opacity: 0.7;
				margin-top: 3px;
			}
			a:hover{
				opacity: 1;
			}
		}
		#add-card{
			padding: 6px 10px;
			cursor: pointer;
			color: #888;
		}
		.card{
			margin: 4px 8px;
			background: #FFFFFF;
			@include border-radius(4px);
			cursor: pointer;

			figure{
				margin: 0;
				padding: 0;

				img{
					@include img-tag();
				}
			}

			.card-detail{
				padding: 8px;
				font-size: 13px;
			}
		}
		#add-card:hover,.card-detail:hover{
			@include border-radius(4px);
			background: rgba(0,0,0,0.05);
		}
	}
}
#board-menu{
	position: absolute;
	z-index: 5;
	top: 45px;
	right: -50%;
	transform: translate(0px,0px);
	@include border-radius(4px);
	@include transition(0.5s,all,cubic-bezier(0.165, 0.84, 0.44, 1));
	background: #e2e4e6;
	width: 260px;
	max-height: 605px;
	padding: 12px;

	div.container{
		overflow-y: scroll;
		max-height: inherit;
	}
	#toggle-sidebar{
			@include add-bg-image-color(left,#e2e4e6);
			@include transform(rotate(180deg));
			@include border-radius(4px);
			@include transition(0.1s,left,ease-in-out);
			background-size: 20px;
			background-position: center;
			width: 30px;
			height: 30px;
			position: absolute;
			top: 15px;
			left: -26px;
			cursor: pointer;
	}
	#toggle-sidebar:hover{
		left: -24px;
		@include transition(0.1s,left,ease-in-out);
	}
	nav{
		margin-bottom: 8px;		
		position: relative;
		#board-menu-nav-toggle{
			font-weight: bold;
			font-size: 16px;
			padding: 6px 9px;
			color: #777;
			cursor: pointer;
			background: rgba(0,0,0,0.05);

			span.right{
				@include add-bg-image(down);
				width: 18px;
				height: 18px;
				background-size: 14px;
				opacity: 0.7;
				margin-top: 3px;
			}
		}
		#board-menu-nav-toggle:hover{
			background: rgba(0,0,0,0.1);
		}
		ul{
			list-style: none;
			background: rgba(0,0,0,0.05);
			height: 0;
			//height: 380px; //change to expand the list.
			overflow: hidden;
			@include transition(0.1s,height,ease-in-out);

			li{
				padding: 6px 6px 6px 20px;
				color: #444;
				font-size: 14px;
			}
		}
		ul.show{
			height: 380px; //change to expand the list.
			@include transition(0.1s,height,ease-in-out);
		}
	}
}
#board-menu.show{
	right: 0%;
	@include transition(0.2s,all,cubic-bezier(0.165, 0.84, 0.44, 1));
}
.popup{
	display:none;
	position:absolute;
	z-index:8;
	background: white;
	padding: 6px;
	/*border: 1px solid #CCC;*/
	@include border-radius(4px);
	@include box-shadow(0px 0px 3px #999);
	min-width: 240px;

	.popup-header{
		text-align: center;
		font-size: 14px;
		color: #666;
		font-weight: bold;
		padding: 3px 0px;
		border-bottom: 1px solid #CCC;

		.cross{
			@include add-bg-image(cross);
			background-size: 15px;
			background-position: center;
			float: right;
		}
	}
	.popup-body{
		padding: 4px;
		font-size: 13px;
		color: #555;
	}
	.popup-label{
		font-weight: bold;
		fonr-size: 15px;
		padding: 2px 0px;
		display: block;
	}
	input,select{
		display: block;
		width: 98%;
		margin: 10px 0px;
	}
	.button{
		width: 40%;
		padding: 10px 10px;
		margin: 15px 0px;
	}
}
#create-board-popup{
	/*display: block;*/
	top: 40%;
	right: 20%;	
}
#profile-popup{
	/*display: block;*/
	top: 5px;
	right: 1%;	
	min-width: 300px;
}
#boards-popup{
	/*display: block;*/
	top: 5px;
	left: 1%;	
	min-width: 300px;
}