/* begin scss */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 13pt;
  color: #555; }

a {
  color: #5e98ba;
  text-decoration: none; }

.bold {
  font-weight: bold; }

.big {
  font-size: 26pt; }

.white {
  color: white; }

.button {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  padding: 12px 18px;
  text-align: center; }

.button.green {
  background: linear-gradient(to bottom, #70b500 0, #64a200 100%);
  color: white; }

.button.basic.blue {
  background: transparent;
  border: 1px solid #5e98ba;
  color: #5e98ba; }

.button.basic.white {
  background: transparent;
  border: 1px solid white;
  color: white; }

header {
  background: #026aa7; }

#header-home {
  background: white;
  text-align: center;
  padding: 6%;
  margin: 0 auto;
  font-size: 16pt; }
  #header-home summary {
    padding: 2% 15%; }
  #header-home p {
    padding: 0% 22%; }
  #header-home a {
    text-decoration: underline; }

footer {
  text-align: center;
  font-size: 13pt;
  padding: 30px 0px;
  background: white; }
  footer a {
    padding-left: 8px;
    text-decoration: underline; }

section#screenshot {
  color: white;
  background: #0e74af;
  text-align: center;
  font-size: 15pt; }
  section#screenshot summary {
    text-align: left;
    padding: 80px 378px 40px; }
  section#screenshot figure {
    padding: 0px 60px; }
    section#screenshot figure img {
      max-width: 100%;
      box-sizing: border-box; }

section#abilities {
  color: black;
  background: white;
  text-align: center;
  font-size: 15pt; }
  section#abilities summary {
    text-align: left;
    padding: 80px 378px 40px; }
  section#abilities figure {
    padding: 0px 60px; }
    section#abilities figure img {
      max-width: 100%;
      box-sizing: border-box; }

section#signup {
  color: white;
  background: #0e74af;
  text-align: center;
  font-size: 15pt; }
  section#signup summary {
    text-align: left;
    padding: 80px 378px 40px; }

/* boards css */
#header-boards {
  background: #026aa7;
  height: 30px;
  overflow: hidden;
  padding: 6px;
  position: relative;
  z-index: 10; }
  #header-boards a {
    text-decoration: underline; }
  #header-boards figure {
    float: left;
    margin: 0;
    opacity: 0.8;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out; }
    #header-boards figure img {
      max-width: 100%;
      box-sizing: border-box; }
  #header-boards figure:hover {
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    opacity: 1; }
  #header-boards div {
    float: left; }

.popup {
  display: none;
  position: absolute;
  z-index: 8; }

section#boards-container {
  background: white;
  padding: 6px;
  overflow: hidden;
  position: relative;
  z-index: 6; }
  section#boards-container article summary {
    font-size: 13pt;
    font-weight: 500;
    padding: 2px 6px;
    display: block; }
  section#boards-container ul {
    list-style: none; }
  section#boards-container li {
    display: inline;
    padding: 10px; }
  section#boards-container a {
    background: #0e74af;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    padding: 10px 0px 40px 16px;
    color: white; }
    section#boards-container a div {
      width: 220px; }
  section#boards-container article#boards-starred summary {
    background: url("../images/star.png"); }

/*# sourceMappingURL=style_sass.css.map */
