/* begin scss */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

/* Comes from google fonts. */
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em; }

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2); }

body {
  scrollbar-face-color: rgba(255, 255, 255, 0.6);
  scrollbar-track-color: rgba(255, 255, 255, 0.2); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13pt;
  color: #555;
  overflow-x: hidden; }

a {
  color: #5e98ba;
  text-decoration: none; }

.left {
  float: left; }

.right {
  float: right; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

.disabled {
  opacity: 0.7;
  cursor: auto; }

.bold {
  font-weight: bold; }

.big {
  font-size: 26pt; }

.white {
  color: white; }

.no-overflow {
  overflow: hidden; }

.button {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  padding: 12px 18px;
  text-align: center;
  cursor: pointer; }

.button:hover {
  -webkit-box-shadow: 0px 1px 3px #999;
  -moz-box-shadow: 0px 1px 3px #999;
  -ms-box-shadow: 0px 1px 3px #999;
  box-shadow: 0px 1px 3px #999; }

.button.green {
  background: linear-gradient(to bottom, #70b500 0, #64a200 100%);
  color: white;
  border: none;
  -webkit-box-shadow: 0px 0px 3px #AAA;
  -moz-box-shadow: 0px 0px 3px #AAA;
  -ms-box-shadow: 0px 0px 3px #AAA;
  box-shadow: 0px 0px 3px #AAA; }

.button.basic.blue {
  background: transparent;
  border: 1px solid #5e98ba;
  color: #5e98ba; }

.button.basic.white {
  background: transparent;
  border: 1px solid white;
  color: white; }

.button:hover {
  -webkit-box-shadow: 0px 1px 3px #999;
  -moz-box-shadow: 0px 1px 3px #999;
  -ms-box-shadow: 0px 1px 3px #999;
  box-shadow: 0px 1px 3px #999; }

.border-bottom {
  border-bottom: 1px solid #999; }

.close {
  background: url("../images/close.png") no-repeat;
  background-size: 100%;
  background-position: center;
  float: right;
  width: 20px;
  height: 100%; }

.open {
  background: url("../images/open.png") no-repeat;
  background-size: 100%;
  background-position: center;
  float: right;
  width: 20px;
  height: 100%; }

header {
  background: #026aa7; }

#header-home {
  background: white;
  text-align: center !important;
  padding: 6%;
  margin: 0 auto;
  font-size: 16pt; }
  #header-home summary {
    padding: 2% 15%;
    text-align: center !important;
    display: block; }
  #header-home p {
    padding: 0% 22%; }
  #header-home a {
    text-decoration: underline; }
  #header-home .logo {
    display: inline-block; }
  #header-home img {
    max-width: 100%;
    box-sizing: border-box;
    height: auto; }

footer {
  text-align: center;
  font-size: 13pt;
  padding: 30px 0px;
  background: white; }
  footer a {
    padding-left: 8px;
    text-decoration: underline; }

@media only screen and (max-width: 400px) {
  footer {
    display: none; } }
section.content article summary {
  text-align: left;
  padding: 80px 0% 40px;
  width: 60%;
  margin: 0 auto;
  display: block; }
section.content article figure {
  padding: 0px 60px; }
  section.content article figure img {
    max-width: 100%;
    box-sizing: border-box; }

article#screenshot {
  color: white;
  background: #0e74af;
  text-align: center;
  font-size: 15pt; }

article#abilities {
  color: black;
  background: white;
  text-align: center;
  font-size: 15pt; }

article#signup {
  color: white;
  background: #0e74af;
  text-align: center;
  font-size: 15pt; }

 /*text-align: left;
padding: 80px 0% 40px;
text-indent: 18%;*/
@media only screen and (max-width: 950px) {
  section.content article summary {
    text-align: left;
    padding: 25px 2% 20px;
    width: 90%;
    font-size: 12pt; }
  section.content article figure {
    padding: 0px 5%;
    margin: 0; }

  #header-home summary {
    text-align: center;
    padding: 16px 0%;
    width: 100%;
    font-size: 18pt; }
  #header-home p {
    padding: 0 4%;
    font-size: 13pt;
    width: 90%;
    margin: 0 auto; }
  #header-home figure.logo {
    width: 200px; } }
@media only screen and (max-width: 640px) {
  #header-home {
    padding: 6% 2%; }

  #header-home figure.logo {
    width: 200px; } }
#header-boards {
  background: #0B5B8A;
  height: 39px;
  overflow: hidden;
  padding: 4px;
  position: relative;
  z-index: 10; }
  #header-boards a {
    text-decoration: underline; }
  #header-boards #logo {
    text-align: center;
    display: inline-table;
    position: absolute;
    left: 45%;
    top: 5px; }
    #header-boards #logo a {
      display: inline-block; }
    #header-boards #logo figure {
      float: left;
      margin: 0;
      opacity: 0.8;
      -webkit-transition: 0.1s all ease-in-out;
      -moz-transition: 0.1s all ease-in-out;
      -ms-transition: 0.1s all ease-in-out;
      transition: 0.1s all ease-in-out; }
      #header-boards #logo figure img {
        max-width: 100%;
        box-sizing: border-box;
        height: auto; }
    #header-boards #logo figure:hover {
      -webkit-transition: 0.1s all ease-in-out;
      -moz-transition: 0.1s all ease-in-out;
      -ms-transition: 0.1s all ease-in-out;
      transition: 0.1s all ease-in-out;
      opacity: 1; }
  #header-boards .header-item {
    background: rgba(255, 255, 255, 0.27);
    height: 30px;
    /*margin-left: 8px;*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
    display: inline-flex;
    float: none;
    vertical-align: top; }
  #header-boards .header-item:hover {
    opacity: 0.85; }
  #header-boards #profile {
    float: right;
    color: white;
    max-width: 140px;
    font-size: 12pt;
    margin-right: 5px; }
    #header-boards #profile figure {
      margin: 0;
      width: 30px;
      display: inline-block;
      vertical-align: middle; }
    #header-boards #profile span {
      margin: 0;
      font-size: 11pt;
      padding-left: 5px;
      padding-right: 10px;
      line-height: 2; }
  #header-boards #notifications {
    background: url("../images/bell.png") no-repeat rgba(255, 255, 255, 0.27);
    margin-right: 5px;
    float: right;
    width: 30px;
    background-size: 20px;
    background-position: center; }
  #header-boards #add {
    background: url("../images/plus.png") no-repeat rgba(255, 255, 255, 0.27);
    float: right;
    width: 30px;
    background-size: 25px;
    background-position: center;
    margin-right: 5px; }
  #header-boards #boards {
    width: 90px;
    background: url("../images/icon-white.png") no-repeat rgba(255, 255, 255, 0.27);
    background-size: 17px;
    background-position: 6px center;
    color: white;
    font-size: 11pt;
    padding-left: 30px;
    line-height: 2;
    margin-left: 5px;
    display: inline-block; }
  #header-boards #search {
    width: 15%;
    background: url("../images/search.png") no-repeat rgba(255, 255, 255, 0.27);
    -webkit-transition: 0.1s all ease-in-out;
    -moz-transition: 0.1s all ease-in-out;
    -ms-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
    background-size: 20px;
    background-position: 95% center; }
    #header-boards #search input {
      width: 100%;
      background: transparent;
      border: none;
      height: 100%; }
    #header-boards #search input:focus {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      border: 0;
      width: 100%;
      box-shadow: none;
      -webkit-appearance: none;
      outline: none; }
    #header-boards #search #search-open, #header-boards #search #search-close {
      display: inline;
      margin: 0px 2px;
      opacity: 0.7; }
  #header-boards #search.focused {
    width: 24%;
    background: white; }

@media (max-width: 800px) {
  #header-boards #search {
    width: 34px;
    background-position: center; }

  #header-boards #profile span {
    display: none; }

  #header-boards #boards {
    font-size: 0px;
    width: 0px; }

  #header-boards #logo {
    left: 40%;
    top: 25%; }
    #header-boards #logo figure {
      width: 60%; } }
section#boards-container {
  background: white;
  padding: 10px 15px;
  overflow: hidden;
  position: relative;
  z-index: 6; }
  section#boards-container div[id^='boards-organization-'] h1, section#boards-container div#boards-starred h1, section#boards-container div#boards-my h1 {
    font-size: 12pt;
    font-weight: 500;
    padding: 2px 6px;
    display: block;
    margin-bottom: 16px;
    margin-top: 20px;
    font-weight: 600;
    padding-left: 36px;
    background-position: 0px 2px;
    background-size: 22px; }
    section#boards-container div[id^='boards-organization-'] h1 span.overview, section#boards-container div#boards-starred h1 span.overview, section#boards-container div#boards-my h1 span.overview {
      background: url("../images/info.png") no-repeat;
      padding-left: 18px;
      background-size: 13px;
      background-position: 4px center;
      width: 5px;
      height: 5px;
      font-size: 11px;
      cursor: pointer; }
  section#boards-container div#boards-starred h1 {
    background: url("../images/star.png") no-repeat;
    padding-left: 36px;
    background-position: 0px 2px;
    background-size: 22px; }
  section#boards-container div#boards-my h1 {
    background: url("../images/user.png") no-repeat;
    padding-left: 36px;
    background-position: 0px 2px;
    background-size: 22px; }
  section#boards-container div[id^='boards-organization-'] h1 {
    background: url("../images/organization.png") no-repeat;
    padding-left: 36px;
    background-position: 0px 2px;
    background-size: 22px; }
  section#boards-container ul {
    list-style: none;
    margin-left: 35px;
    margin-right: 0px;
    display: box;
    overflow: auto; }
  section#boards-container li {
    display: block;
    float: left;
    padding: 3px 0px;
    width: 24%;
    margin-right: 10px;
    margin-bottom: 5px; }
  section#boards-container a:not(#org-create) {
    background: #0E74AF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 0px 10px 14px;
    color: white;
    width: 100%;
    display: inline-table;
    height: 105px;
    position: relative; }
    section#boards-container a:not(#org-create) span {
      font-size: 12pt;
      font-weight: normal; }
    section#boards-container a:not(#org-create) span:not(.bold) {
      background: url("../images/star.png") no-repeat;
      background-size: 16px;
      background-position: 96% 10%;
      display: inline-block;
      -webkit-transition: 0.1s all ease-in-out;
      -moz-transition: 0.1s all ease-in-out;
      -ms-transition: 0.1s all ease-in-out;
      transition: 0.1s all ease-in-out;
      opacity: 0;
      float: right;
      margin-right: 20px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
    section#boards-container a:not(#org-create) span.starred {
      background: url("../images/star-gold.png") no-repeat;
      opacity: 1; }
    section#boards-container a:not(#org-create) span:not(.bold):hover {
      -webkit-transition: 0.1s all ease-in-out;
      -moz-transition: 0.1s all ease-in-out;
      -ms-transition: 0.1s all ease-in-out;
      transition: 0.1s all ease-in-out;
      opacity: 1; }
  section#boards-container a:not(#org-create):hover {
    background: #0F6CA2; }
  section#boards-container a#add-board {
    background: #d6dadc;
    text-align: center;
    color: #444; }
    section#boards-container a#add-board span {
      font-size: 12pt; }
  section#boards-container a#add-board:hover {
    background: #CCD0D3; }
  section#boards-container a#org-create {
    font-size: 12pt;
    color: #666;
    text-decoration: underline;
    margin: 20px 0px 20px 10px;
    display: block; }

@media (max-width: 750px) {
  section#boards-container div[id^='boards-organization-'] li, section#boards-container div#boards-starred li, section#boards-container div#boards-my li {
    display: block;
    width: 100%;
    margin: 0; } }
span.starred {
  background: url("../images/star-gold.png") no-repeat;
  opacity: 1;
  background-size: 100%;
  width: 18px;
  height: 18px;
  display: inline-block;
  -webkit-transition: 0.1s all ease-in-out;
  -moz-transition: 0.1s all ease-in-out;
  -ms-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out; }

span.not-starred {
  background: url("../images/star.png") no-repeat;
  background-size: 100%;
  width: 18px;
  height: 18px;
  display: inline-block;
  -webkit-transition: 0.1s all ease-in-out;
  -moz-transition: 0.1s all ease-in-out;
  -ms-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out; }

section#board-ribbon {
  background: #0e74af;
  height: 40px;
  padding: 10px 0px 5px 10px; }
  section#board-ribbon div {
    display: inline; }
  section#board-ribbon span {
    padding: 8px;
    color: #f6f6f6;
    border-radius: 4px;
    font-size: 10pt;
    display: inline;
    margin-right: 10px;
    cursor: pointer; }
  section#board-ribbon span:hover:not(.starred):not(.not-starred) {
    background: rgba(0, 0, 0, 0.1); }
  section#board-ribbon span.title {
    font-weight: bold;
    font-size: 12pt; }
  section#board-ribbon span.starred, section#board-ribbon span.not-starred {
    background-position: center; }
  section#board-ribbon span.starred:hover, section#board-ribbon span.not-starred:hover {
    background-size: 120%; }
  section#board-ribbon span#privacy {
    background: url("../images/lock.png") no-repeat;
    background-size: 18px;
    background-position: 4px center;
    padding-left: 25px; }
  section#board-ribbon span#privacy:hover {
    background: url("../images/lock.png") no-repeat rgba(0, 0, 0, 0.1);
    background-size: 18px;
    background-position: 4px center; }
  section#board-ribbon span#menu-toggle {
    background: url("../images/left.png") no-repeat;
    background-size: 18px;
    background-position: 4px center;
    padding-left: 25px;
    text-decoration: underline; }
  section#board-ribbon span#menu-toggle:hover {
    background: url("../images/left.png") no-repeat rgba(0, 0, 0, 0.1);
    background-size: 18px;
    background-position: 4px center; }

@media only screen and (max-width: 501px) {
  #board-ribbon {
    height: 55px !important; }
    #board-ribbon div {
      display: block !important;
      margin-left: 8px !important; } }
section#board-content {
  background: #0e74af;
  height: 80vh;
  position: relative;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  padding-left: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start; }
  section#board-content .list {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background: #e2e4e6;
    max-width: 270px;
    min-width: 270px;
    margin: 0px 5px;
    display: flex;
    flex-direction: column;
    /*min-width: 244px;*/ }
    section#board-content .list .list-head {
      padding: 6px 10px;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer; }
      section#board-content .list .list-head a {
        background: url("../images/down.png") no-repeat;
        width: 18px;
        height: 18px;
        background-size: 14px;
        opacity: 0.7;
        margin-top: 3px; }
      section#board-content .list .list-head a:hover {
        opacity: 1; }
    section#board-content .list #add-card {
      padding: 6px 10px;
      cursor: pointer;
      color: #888; }
    section#board-content .list .card {
      margin: 4px 8px;
      background: #FFFFFF;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      cursor: pointer; }
      section#board-content .list .card figure {
        margin: 0;
        padding: 0; }
        section#board-content .list .card figure img {
          max-width: 100%;
          box-sizing: border-box;
          height: auto; }
      section#board-content .list .card .card-detail {
        padding: 8px;
        font-size: 13px; }
    section#board-content .list #add-card:hover, section#board-content .list .card-detail:hover {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      background: rgba(0, 0, 0, 0.05); }

#board-menu {
  position: absolute;
  z-index: 5;
  top: 45px;
  right: -400px;
  transform: translate(0px, 0px);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
  background: #e2e4e6;
  width: 250px;
  height: 88%;
  padding: 12px; }
  #board-menu div.container {
    overflow-y: scroll;
    height: 100%; }
  #board-menu #toggle-sidebar {
    background: url("../images/left.png") no-repeat #e2e4e6;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0.1s left ease-in-out;
    -moz-transition: 0.1s left ease-in-out;
    -ms-transition: 0.1s left ease-in-out;
    transition: 0.1s left ease-in-out;
    background-size: 20px;
    background-position: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: -26px;
    cursor: pointer; }
  #board-menu #toggle-sidebar:hover {
    left: -24px;
    -webkit-transition: 0.1s left ease-in-out;
    -moz-transition: 0.1s left ease-in-out;
    -ms-transition: 0.1s left ease-in-out;
    transition: 0.1s left ease-in-out; }
  #board-menu nav {
    margin-bottom: 8px;
    position: relative; }
    #board-menu nav #board-menu-nav-toggle {
      font-weight: bold;
      font-size: 16px;
      padding: 6px 9px;
      color: #777;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.05); }
      #board-menu nav #board-menu-nav-toggle span.right {
        background: url("../images/down.png") no-repeat;
        width: 18px;
        height: 18px;
        background-size: 14px;
        opacity: 0.7;
        margin-top: 3px; }
    #board-menu nav #board-menu-nav-toggle:hover {
      background: rgba(0, 0, 0, 0.1); }
    #board-menu nav ul {
      list-style: none;
      background: rgba(0, 0, 0, 0.05);
      height: 0;
      overflow: hidden;
      -webkit-transition: 0.1s height ease-in-out;
      -moz-transition: 0.1s height ease-in-out;
      -ms-transition: 0.1s height ease-in-out;
      transition: 0.1s height ease-in-out; }
      #board-menu nav ul li {
        padding: 6px 6px 6px 20px;
        color: #444;
        font-size: 14px; }
    #board-menu nav ul.show {
      height: 380px;
      -webkit-transition: 0.1s height ease-in-out;
      -moz-transition: 0.1s height ease-in-out;
      -ms-transition: 0.1s height ease-in-out;
      transition: 0.1s height ease-in-out; }
  #board-menu #board-members h4 {
    font-size: 12pt;
    margin: 0; }
  #board-menu #board-members ul {
    display: block; }
    #board-menu #board-members ul li.member {
      display: block;
      width: 30px;
      height: 30px;
      float: left;
      margin: 2px 2px;
      position: relative;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      -webkit-user-select: none; }
      #board-menu #board-members ul li.member img {
        max-width: 100%;
        box-sizing: border-box;
        height: auto; }

#board-menu.show {
  right: 0%;
  -webkit-transition: 0.2s all cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: 0.2s all cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: 0.2s all cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.2s all cubic-bezier(0.165, 0.84, 0.44, 1); }

.option {
  font-weight: bold;
  font-size: 13px; }

.detail {
  font-size: 11px;
  color: #666;
  font-weight: normal; }

.popup {
  position: absolute;
  z-index: 8;
  background: white;
  padding: 6px;
  /*border: 1px solid #CCC;*/
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 3px #999;
  -moz-box-shadow: 0px 0px 3px #999;
  -ms-box-shadow: 0px 0px 3px #999;
  box-shadow: 0px 0px 3px #999;
  min-width: 240px; }
  .popup hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 7px 5px; }
  .popup .popup-header {
    text-align: center;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    padding: 3px 0px; }
    .popup .popup-header .cross {
      background: url("../images/close.png") no-repeat;
      background-size: 15px;
      background-position: center;
      float: right;
      width: 10px;
      height: 10px;
      margin-right: 5px;
      margin-top: 7px;
      cursor: pointer; }
    .popup .popup-header .cross:hover {
      background-size: 17px; }
  .popup .popup-body {
    padding: 1px;
    font-size: 13px;
    color: #555; }
  .popup .popup-box {
    margin: 8px 0px; }
  .popup .popup-label {
    font-weight: bold;
    fonr-size: 15px;
    padding: 2px 0px;
    display: block; }
  .popup input, .popup select {
    display: block;
    width: 100%;
    margin: 10px 0px;
    padding: 8px 5px;
    outline: none;
    border: 1px solid #D7D7D7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background: #e6e6e6; }
  .popup input:focus {
    background: white;
    border: 1px solid #76B5D1;
    box-shadow: 0px 1px 3px #37B6EE; }
  .popup .button {
    width: 40%;
    padding: 10px 10px;
    margin: 15px 0px; }

#create-board-popup {
  width: 300px; }
  #create-board-popup #preview {
    font-size: 14px;
    overflow: hidden;
    height: 0; }
  #create-board-popup #options {
    overflow: hidden;
    height: 0; }
    #create-board-popup #options div {
      display: block;
      padding: 4px 0px; }
      #create-board-popup #options div span {
        display: block;
        margin: 2px 0px; }
  #create-board-popup .show {
    height: auto !important; }
  #create-board-popup .hide {
    height: 0 !important;
    display: block !important; }

#profile-popup, #create-new-popup {
  top: 6%;
  right: 1%;
  min-width: 300px;
  padding: 0; }
  #profile-popup .popup-header, #create-new-popup .popup-header {
    padding: 10px 6px 6px; }
  #profile-popup .popup-body, #create-new-popup .popup-body {
    padding: 0;
    margin: 5px 0px; }
  #profile-popup a, #create-new-popup a {
    display: block;
    padding: 8px 10px;
    font-size: 11pt;
    margin: 0px 0px;
    color: #444;
    font-weight: bold; }
  #profile-popup a:hover, #create-new-popup a:hover {
    color: white;
    background: #0e74af; }

#boards-popup {
  top: 6%;
  left: 0%;
  min-width: 270px;
  font-size: 14px;
  height: 90%;
  overflow-x: hidden;
  overflow-y: scroll; }
  #boards-popup input {
    margin: 2px 0px; }
  #boards-popup a {
    background: none;
    padding: 7px 5px;
    color: #777;
    display: block;
    text-decoration: underline; }
  #boards-popup a:hover:not(.org) {
    color: #555;
    background: #e9e9e9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
  #boards-popup a.org {
    display: inline-block; }
  #boards-popup #popup-options a {
    margin: 3px 0px; }
  #boards-popup span.cat {
    font-size: 14px;
    color: #777;
    padding-left: 20px;
    margin: 5px 3px;
    display: inline-block; }
  #boards-popup span.cat.star {
    background: url("../images/star.png") no-repeat;
    background-size: 15px;
    background-position: left center; }
  #boards-popup span.cat.my {
    background: url("../images/user.png") no-repeat;
    background-size: 15px;
    background-position: left center; }
  #boards-popup span.cat.recent {
    background: url("../images/recent.png") no-repeat;
    background-size: 15px;
    background-position: left center; }
  #boards-popup span.cat.org {
    background: url("../images/organization.png") no-repeat;
    background-size: 15px;
    background-position: left center; }
  #boards-popup span.cat.org a {
    padding: 0; }
  #boards-popup ul.boards-list li {
    position: relative;
    padding: 10px;
    background: #CCE5F4;
    opacity: 0.95;
    display: block;
    margin: 4px 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
    #boards-popup ul.boards-list li a {
      padding: 0; }
    #boards-popup ul.boards-list li a:hover {
      background: none; }
    #boards-popup ul.boards-list li span {
      display: inline-block; }
    #boards-popup ul.boards-list li span.color {
      width: 15%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #0079BF;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px; }
    #boards-popup ul.boards-list li span.color:hover {
      background: #2A7098; }
    #boards-popup ul.boards-list li span.board-name {
      font-weight: bold;
      font-size: 14px;
      color: #444;
      width: 100%;
      padding-left: 16%; }
    #boards-popup ul.boards-list li span.star, #boards-popup ul.boards-list li span.starred {
      background: url("../images/star.png") no-repeat;
      background-size: 16px;
      background-position: 96% center;
      display: inline-block;
      -webkit-transition: 0.1s all ease-in-out;
      -moz-transition: 0.1s all ease-in-out;
      -ms-transition: 0.1s all ease-in-out;
      transition: 0.1s all ease-in-out;
      opacity: 0;
      float: right;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
    #boards-popup ul.boards-list li span.starred {
      background: url("../images/star-gold.png") no-repeat;
      background-size: 16px;
      background-position: 96% center;
      opacity: 1; }
    #boards-popup ul.boards-list li span.star:hover, #boards-popup ul.boards-list li span.starred:hover {
      opacity: 1; }
  #boards-popup ul.boards-list li:hover {
    background: #BCD9EA;
    opacity: 1; }

#create-new-popup {
  max-width: 300px; }
  #create-new-popup a div {
    padding: 4px; }
  #create-new-popup a:hover div {
    color: white !important; }

/*# sourceMappingURL=style_sass.css.map */
