/* begin scss */

@import 'reset';

// defne macros 
$bgColor:  rgb(14, 116, 175);
$primaryColor: #026aa7;
$secondaryColor: #cdd2d4;
$primaryFontColor: #555;
$secondaryFontColor: #5e98ba;
$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Anaheim', sans-serif;
$ScriptFont: 'Rochester', cursive;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin img-tag(){
	max-width: 100%;
	box-sizing: border-box;
}
@mixin transition-all(){
	-webkit-transition: 0.1s all ease-in-out;
	-moz-transition: 0.1s all ease-in-out;
	-ms-transition: 0.1s all ease-in-out;
	transition: 0.1s all ease-in-out;
	
}
@mixin add-bg-image($url){
	background: url('../images/'+$url+'.png') no-repeat;
}
@mixin add-bg-image-color($url,$color){
	background: url('../images/'+$url+'.png') no-repeat $color;
}


body{
	font-family: $primaryFont;
	font-size: 13pt;
	color: $primaryFontColor;
}
a{
	color: $secondaryFontColor;
	text-decoration: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
.bold{
	font-weight: bold;
}
.big{
	font-size: 26pt;
}
.white{
	color: white;
}
.no-overflow{
	overflow: hidden;
}
.button{
	@include border-radius(6px);
	padding: 12px 18px;
	text-align: center;
}
.button.green{
	background: linear-gradient(to bottom, #70b500 0, #64a200 100%);
	color: white;
}
.button.basic.blue{
	background: transparent;
	border: 1px solid rgb(94, 152, 186);
	color: rgb(94, 152, 186);
}.button.basic.white{
	background: transparent;
	border: 1px solid white;
	color: white;
}
header{
	background: $primaryColor;
}
#header-home{
	background: white;
	text-align: center;
	padding: 6%;
	margin: 0 auto;
	font-size: 16pt;
	summary{
		padding: 2% 15%;
	}
	p{
		padding: 0% 22%;
	}
	a{
		text-decoration: underline;
	}
	
}

footer{
	text-align: center;
	font-size: 13pt;
	padding: 30px 0px;
	background: white;
	
	a{
		padding-left: 8px;
		text-decoration: underline;
	}
}
section{

}
section#screenshot{
	color: white;
	background: $bgColor;
	text-align:center;
	font-size: 15pt;
	
	
	summary{
		text-align: left;
		padding: 80px 378px 40px;
	}
	figure{
		padding: 0px 60px;
		img{
			max-width: 100%;
			box-sizing: border-box;
		}
	}
}
section#abilities{
	color: black;
	background: white;
	text-align:center;
	font-size: 15pt;
	
	summary{
		text-align: left;
		padding: 80px 378px 40px;
	}
	figure{
		padding: 0px 60px;
		img{
			max-width: 100%;
			box-sizing: border-box;
		}
	}
}
section#signup{
	color: white;
	background: $bgColor;
	text-align:center;
	font-size: 15pt;
	
	summary{
		text-align: left;
		padding: 80px 378px 40px;
	}
}

/* boards css */
#header-boards{
	background: #0B5B8A;
	height: 32px;
	overflow: hidden;
	padding: 4px;
	position: relative;
	z-index: 10;
	a{
		text-decoration: underline;
	}
	#logo{
		position: absolute;
		left: 45%;
		figure{
			float: left;
			margin: 0;
			opacity: 0.8;
			@include transition-all();
			img{
				@include img-tag();
			}
		}
		figure:hover{
			@include transition-all();
			opacity: 1;
		}
	}

	div{
		float: left;
	}
	.header-item{
		/*background: -webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
		background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);*/
		background: rgba(255, 255, 255, 0.27);
		height: 30px;
		margin-left: 8px;
		@include border-radius(4px);
		padding: 0px 0px;
		cursor: pointer;
	}
	#profile{
		float: right;
		color: white;
		width: 140px;
		font-size: 12pt;
		figure{
			margin: 0;
			width: 30px;
			display: inline-block;
			vertical-align: middle;
		}
		span{
			margin: 0;
			font-size: 11pt;
			padding-left: 5px;
		}
	}
	#notifications{
		@include add-bg-image-color(bell,rgba(255, 255, 255, 0.27));
		margin-right: 15px;
		float: right;
		width: 40px;
		background-size: 25px;
		background-position: center;
	}
	#add{
		@include add-bg-image-color(plus,rgba(255, 255, 255, 0.27));
		float: right;
		width: 40px;
		background-size: 36px;
		background-position: center;
		margin-right: 0px;
	}
	#boards{
		width: 80px;
		@include add-bg-image-color(icon-white,rgba(255, 255, 255, 0.27));
		background-size: 23px;
		background-position: 6px center;
		color: white;
		font-size: 12pt;
		padding-left: 34px;
		line-height: 2;
	}
	#search{
		width: 190px;
		margin-left: 8px;
		@include add-bg-image-color(search,rgba(255, 255, 255, 0.27));
		background-size: 20px;
		background-position: 160px center;
		input{
			width: 100%;
			background: transparent;
			border: none;
			height: 100%;

		}
		input:focus{
			background: rgba(255, 255, 255, 0.77);
			@include border-radius(4px);
			border: 0;
			width: 100%;
			box-shadow: none;
		}
	}


}
.popup{
	display:none;
	position:absolute;
	z-index:8;
}
section#boards-container{
	background: white;
 	padding: 10px 25px;
	overflow: hidden;
	position: relative;
	z-index: 6;

	article{
		summary{
			font-size: 12pt;
			font-weight: 500;
			padding: 2px 6px;
			display:block;
			margin-bottom: 16px;
  			margin-top: 20px;
  			font-weight: 600;
			span.overview{
				@include add-bg-image(info);
				padding-left: 6px;
				background-size: 100%;
				width: 5px;
				height: 5px;
				background-position: 0px 0px;
			}
		}
	}
	ul{
		list-style: none;
		margin: 5px 0px 5px 25px; 
	}
	li{
		display:inline;
		padding: 10px;
	}
	a:not(#org-create){
		background: #0E74AF;
		@include border-radius(4px);
		padding: 10px 0px 70px 14px;
		color: white;
		width: 260px;
  		display: inline-block;

  		span{
  			font-size:12pt;
  			font-weight: normal;
  		}
  		span:not(.bold){
  			@include add-bg-image(star);
			background-size: 100%;
			width: 18px;
			height: 18px;
			display: inline-block;
  			@include transition-all();
  			opacity: 0;
  			float: right;
  			margin-right: 20px;
  		}
  		span.starred{
  			@include add-bg-image(star-gold);
  			opacity: 1;
  		}
  		span:not(.bold):hover{
  			width: 21px;
  			height: 21px;
  			@include transition-all();
  			opacity: 1;
  		}
	}
	a:not(#org-create):hover{
		background: #0F6CA2;
	}
	a#add-board{
		background: #d6dadc;
		text-align: center;
		color: #444;
		span{
			font-size: 12pt;
		}
	}
	a#add-board:hover{
		background: #CCD0D3;
	}
	a#org-create{
		font-size: 12pt;
		color: #666;
		text-decoration: underline;
	margin: 20px 35px;
	display: block;
	}

	article#boards-starred{
		summary{
			@include add-bg-image(star);
			padding-left: 36px;
			background-position: 0px 2px;
			background-size: 22px;
		}
	}
	article#boards-my{
		summary{
			@include add-bg-image(user);
			padding-left: 36px;
			background-position: 0px 2px;
			background-size: 22px;
		}
	}
	article[id^='boards-organization-']{
   		summary{
			@include add-bg-image(organization);
			padding-left: 36px;
			background-position: 0px 2px;
			background-size: 22px;
		}
	}
}
span.starred{
	@include add-bg-image(star-gold);
	opacity: 1;
	background-size: 100%;
	width: 18px;
	height: 18px;
	display: inline-block;
	@include transition-all();
}
span.not-starred{
	@include add-bg-image(star);
	background-size: 100%;
	width: 18px;
	height: 18px;
	display: inline-block;
	@include transition-all();
}

// styles for the board and lists page

section#board-ribbon{
	background: $bgColor;
	height: 40px;
	padding: 10px 15px;
	padding-top: 16px;

	span{
		padding: 8px;
		color: #f6f6f6;
		border-radius: 4px;
		font-size: 10pt;
		display: inline;
		margin-right: 10px;
		cursor: pointer;
	}
	span:hover:not(.starred):not(.not-starred){
		background: rgba(0,0,0,0.1);
	}
	span.title{
		font-weight: bold;
		font-size: 12pt;
	}
	span.starred,span.not-starred{
		background-position: center;
	}
	span.starred:hover,span.not-starred:hover{
		background-size: 120%;
	}
	span#privacy{
		@include add-bg-image(lock);
		background-size: 18px;
		background-position: 4px center;
		padding-left: 25px;

	}
	span#privacy:hover{
		@include add-bg-image-color(lock,rgba(0,0,0,0.1));
		background-size: 18px;
		background-position: 4px center;
	}
	span#menu-toggle{
		@include add-bg-image(left);
		background-size: 18px;
		background-position: 4px center;
		padding-left: 25px;
		text-decoration: underline;

	}
	span#menu-toggle:hover{
		@include add-bg-image-color(left,rgba(0,0,0,0.1));
		background-size: 18px;
		background-position: 4px center;
	}

}
section#board-content{
	background: $bgColor;
	min-height: 605px;
	max-height: 700px;;
	overflow-x: scroll;
	overflow-y: hidden;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	padding-left: 20px;

	article.list{
		@include border-radius(4px);
		background: #e2e4e6;
		display: inline-table;
		width: 270px;
		margin: 0px 2px;

		summary{
			padding: 6px 10px;
			font-weight: bold;
			font-size: 16px;
			cursor: pointer;
		}
		#add-card{
			padding: 6px 10px;
			cursor: pointer;
			color: #888;
		}
		.card{
			margin: 4px 8px;
			background: #FFFFFF;
			@include border-radius(4px);

			figure{
				margin: 0;
				padding: 0;

				img{
					@include img-tag();
				}
			}

			.card-detail{
				padding: 8px;
				font-size: 13px;
			}
		}
		#add-card:hover,.card-detail:hover{
			@include border-radius(4px);
			background: rgba(0,0,0,0.05);
		}
	}
}