// *
// * Version: 0.0.1
// * Created by: Shidil Eringa <shidil@qburst.com>,
// *
// * Stylesheet for desktop computers. Responsive components at the end of the sheet.
// *

// * Import Modules and Variables
@import "modules/base";

// * Import partials
@import "partials/reset";
@import "partials/buttons";

// * Types and links
html {
	background: $bg-color;
}
body {
	font-family: $body-font;
	font-size: $size-normal;
	color: $text-color;
	z-index: 0;
}
a {
	color: $link-color;
	text-decoration: none;
}
a:hover {
	color: darkslateblue;
}
h1 {
	font-size: $size-h1;
	font-weight: 600;
	display: block;
}
img {
	@include img-tag();
}
footer {
	text-align: center;
	font-size: 13pt;
	padding: 30px 0px;
	background: white;
	
	a {
		padding-left: 8px;
		text-decoration: underline;
	}
}
p {
	text-align: left;
}
input{
	border: none;
}
[draggable=true] {
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

// * Change the box model. Recommended for resposive websites.
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// * Replaces the ugly default scrollbar of chrome.
// * forground is white with 60% opacity and background with 20% opacity.
// *
@include scrollbars(.5em, rgba(255,255,255,0.6), rgba(255, 255, 255, 0.2));

// Common styles
.no-display {
	display: none !important;
}
.no-height {
	height: 0;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hidden {
	visibiliy: hidden;
}
.disabled {
	opacity: 0.7;
	cursor: auto;
}
.pointer {
	cursor: pointer;
}
.bold {
	font-weight: 700;
}
.big {
	font-size: $size-big;
}
.small {
	font-size: $size-small;
}
.medium {
	font-size: $size-medium;
}
.large {
	font-size: $size-large;
}
.normal {
	font-size: $size-normal;
}
.white-text {
	color: white;
}
.normal-text {
	color: $text-color;
}
.light-text {
	color: $text-color-light;
}
.border-bottom {
	border-bottom: 1px solid #999;
}
.thin-line {
	border: 0;
	height: 1px;
	background: #ddd;
	margin: 7px 5px;
}
.underline {
	text-decoration: underline;
}
.round {
	@include border-radius(4px);
}
.avatar {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	@extend .round;
	-webkit-user-select: none;
}
.grab
{
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}
.dragging
{
	position: absolute;
    cursor: move;
    cursor:-moz-grabbing;
    cursor:-webkit-grabbing;
    cursor:grabbing;
    box-shadow: -2px 2px 3px #666;
    -moz-transform:rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    opacity: 1;
    z-index: 555;
}

/********** Style for labels **************************/
.green {
	background: green;
}
.blue {
	background: $bg-color;
}
.red {
	background: red;
}
.orange {
	background: orange;
}
.white {
	background: white;
}
/******************************************************/
#overlay {
	width: 100%;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	z-index: $z-overlay;
	background: rgba(1,1,1,0.5);
	opacity: 0;
	overflow: auto;
}
#overlay.visible {
	z-index: $z-overlay-visible;
	opacity: 1;
}

// Layouts
.clear {
	clear: both;
}
.no-overflow {
	overflow: hidden;
}
.y-scroll {
	overflow-x: hidden;
	overflow-y: auto;
}
.x-scroll {
	overflow-x: auto;
	overflow-y: hidden;
}
.wrapper {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	clear: both;
}
.padding-10 {
	padding: 10px;
}
.padding-20 {
	padding: 20px;
}
.pre-10 {
	margin-left: 10px;
}
.pre-15 {
	margin-left: 15px;
}
.pre-20 {
	margin-left: 20px;
}
.pre-25 {
	margin-left: 25px;
}
.pre-30 {
	margin-left: 30px;
}
// Layout width specific columns
// using sass while loop step from 100 to 20

$iterator: 100;
$step: 10;
@while $iterator > 10{
	.width-#{$iterator} {
		width: 1% * $iterator;
		$iterator: $iterator - $step;
	}
}
.height-100 {
	height: 100%;
}
.left {
	float: left;
}
.right {
	float: right;
}
.center {
	float: none;
	margin: 0 auto;
}
.block {
	display: block;
}
.i-block {
	display: inline-block;
}
.absolute-center {
	// Width must be specified inorder to work.
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
}
.text-center {
	text-align: center;
}
.break {
	display: block;
	overflow: hidden; // margin collapse hotfix
}
.break-1 {
	@extend .break;
	margin-top: 5px;
	margin-bottom: 5px;
}
.break-2 {
	@extend .break;
	margin-top: 10px;
	margin-bottom: 10px;
}
.break-4 {
	@extend .break;
	margin-top: 20px;
	margin-bottom: 20px;
}
.no-bg {
	background: none;
}
// Page Styles
.logo {
	@include add-bg-image(logo);
	//background-position: -271px -38px;
	background-position: center;
	background-size: 100%;
}
.logo-big {
	width: 266px;
	height: 74px;
}
.logo.no-bg {
	@extend .no-bg;
}
.logo-small {
	@include add-bg-image(logo-small);
	background-position: center;
	background-size: 100%;
	width: 108px;
	height: 30px;
}
.logo-medium {
	width: 200px;
	height: 55px;
}
.block-input {
	margin: 10px 0px;
	padding: 8px 5px;
	outline: none;
	border: 1px solid #D7D7D7;
	background: #e6e6e6;
}
// Index page sections have alternating background and text color
.alt-bg:nth-child(even) {
	color: white;
	background: $bg-color;
}
.alt-bg:nth-child(odd) {
	color: $text-color;
	background: white;
}
#hero {
	padding: 6%;
	//font-size: 16pt;
	
	h1 {
		//padding: 2% 15%;
	}
	p {
		//padding: 0% 22%;
		//color: #555;
	}
}
.home-article {
	font-size: 15pt;
}
.home-article-text {
	padding: 80px 0% 40px;
}
.home-article-image {
	padding: 0px 60px;	
}

// Boards page
.header-item {
	background: rgba(255, 255, 255, 0.27);
	height: 30px;
	/*margin-left: 8px;*/
	@include border-radius(2px);
	padding: 0px 0px 0px 0px;
	cursor: pointer;
	display: inline-block;
	float: none;
	vertical-align: top;
}
.header-item:hover {
	//background: rgba(255, 255, 255, 0.17);
	opacity: 0.85;
}
#header-boards {
	background: $highlight-color;
	height: $header-height;
	padding: 4px;
	position: relative;
	z-index: $z-header;
	
	#logo {
		height: $header-height;	
		@include transition-all();
		opacity: 0.8;
	}
	#logo:hover {
		@include transition-all();
		opacity: 1;
	}
}
// The following styles for individiual header items are very specific.
// TODO: make them classes.
#profile {
	float: right;
	color: white;
	max-width: 140px;
	font-size: 12pt;
	margin-right: 5px;
	figure {
		margin: 0;
		width: 30px;
		display: inline-block;
		vertical-align: middle;
	}
	span {
		margin: 0;
		font-size: 11pt;
		padding-left: 5px;
		padding-right: 10px;
		line-height: 2;
	}
}
#notifications {
	@include add-bg-image-color(bell,rgba(255, 255, 255, 0.27));
	margin-right: 5px;
	float: right;
	width: 30px;
	background-size: 20px;
	background-position: center;
}
#notifications:hover {
}
#add {
	@include add-bg-image-color(plus,rgba(255, 255, 255, 0.27));
	float: right;
	width: 30px;
	background-size: 25px;
	background-position: center;
	margin-right: 5px;
}
#boards {
	width: 90px;
	@include add-bg-image-color(icon-white,rgba(255, 255, 255, 0.27));
	background-size: 17px;
	background-position: 6px center;
	color: white;
	font-size: 11pt;
	padding-left: 30px;
	line-height: 2;
	margin-left: 5px;
	display: inline-block;
}
#search {
	width: 15%;
	@include add-bg-image-color(search,rgba(255, 255, 255, 0.27));
	@include transition-all();
	background-size: 20px;
	background-position: 95% center;
	input {
		background: transparent;
		border: none;
		height: 100%;

	}
	input:focus {
		@include border-radius(4px);
		border: 0;
		width: 100%;
		box-shadow: none;
		-webkit-appearance: none;
		outline: none; 
	}
	#search-open,#search-close {
		  display: inline;
		  margin: 0px 2px;
		  opacity: 0.7;
	}
}
#search.focused {
	width: 24%;
	background: white;

}

// Styles for boards page
#boards_view_container {
	padding: 10px 15px;
	z-index: $z-boards-container;
	min-height: 94vh;
}
.boards-list-container {
	clear: both;
}
.boards-list-container > h1 {
	padding: 4px 0px;
	margin-bottom: 16px;
	margin-top: 20px;
	
	a {
		font-size: 11px;
		color: $text-color-light;
	}
}
.boards-list-container > h1:before {
	color: $text-color-extralight;
	padding-right: 10px;
	margin-right: 10px;
	font-size: 20px;
}
// the styling container
.boards-list {
	margin-left: 35px;
	margin-right: 0px;
}
// 'a' child of the container
.board {
	@extend .white-text;
	@include transition-all();
	position: relative;
	width: 24%;
	height: 105px;
	margin-right: 10px;
	margin-bottom: 10px;
	background: $accent-color;
	padding: 10px 10px 10px 14px;
	font-size: 16px;
}
.board:hover {
	background: $highlight-color;
	color: white;
	@include transition-all();
}
.board-add {
	@extend .text-center;
	background: #d6dadc;
	color: $text-color;
}
.board-add > span {
	vertical-align: sub;
}
.board-add:hover {
	background: #CCD0D3;	
	color: $text-color;
}
.board > .icon-star {
	@include transition-all();
	opacity: 0;
}
.board > .icon-star:hover {
	font-size: 17px;
}
.board > .icon-star.starred {
	color: gold;
	opacity: 1;
}
.board > .icon-star.transparent {
	opacity: 0;
}
.board > .icon-star.opaque {
	opacity: 1;
}
// Styles for board list page

#board_ribbon {
	//height: 40px;
	padding: 15px;
	
	.icon-star {
		color: white;
		padding: 6px;
		background: rgba(1,1,1,0.1);
		font-size: 14px;
	}
	.icon-star.starred {
		color: gold;
		background: rgba(1,1,1,0.1);
	}
	.icon-star,#menu_toggle,#privacy {
		padding: 6px;
		@extend .round;
	}
	.icon-star:hover,#menu_toggle:hover,#privacy:hover {
		background: rgba(1,1,1,0.2);
	}
}
#board_ribbon > h1 {
	margin: 0;
}
#board_ribbon #menu_toggle {
	//margin-top: 4px;
}
// The flex box
#board_content {
	overflow-x: auto;
	overflow-y: hidden;
	height: 85vh;
	padding-left: 10px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex: auto;
	align-items: flex-start;
	flex-direction: row;
}
// List is not html list.
// Flex item
.list {
	background: #e2e4e6;
	max-width: 270px;
	min-width: 270px;
	margin: 0px 5px;
	max-height: 80vh;
	overflow: auto;
	
}
.list-head {
	padding: 6px 10px;
	font-size: 14px;
	
	.icon-download {
		opacity: 0.7;	
		font-weight: normal;
		color: $text-color-light;
	}
	.icon-download:hover {
		opacity: 1;	
	}
}
.list-body {
	max-height: 70vh;
}
.list-item {
	@extend .block;
}
.add-list {
	background: transparent;
	max-width: 270px;
	min-width: 270px;
	position: relative;
}
.add-list-placeholder {
	background: rgba(0,0,0,0.1);
	padding: 10px;
	color: white;
	width: 100%;
	cursor: pointer;
}
.add-list-placeholder:hover {
	background: rgba(0,0,0,0.2);
}
.add-list-form {
	background: #e2e4e6;
	width: 100%;
	padding: 5px;
	position: absolute;
	top: 0;
	left: 0;
}
.add-list-form > input {
	margin: 0px;
}
.add-list-form > .icon-cancel {
	vertical-align: middle;
	display: inline-block;
	height: 28px;
	font-size: 20px;
}
.card {
	margin: 4px 8px;
	background: #FFFFFF;
	position: relative;
	width: 254px;
}
#add_card {
	//padding: 10px;
	color: $text-color-extralight;
	position: relative;
	max-height: 100px;
}
#add_card .add-list-form {
	position: relative;
	top: -30px;
}
.add-card-placeholder {
	padding: 10px;
	color: $text-color-extralight;
	cursor: pointer;
}
.add-card-placeholder:hover {
	background: rgba(0,0,0,0.05);
	text-decoration: underline;
	color: $text-color;
}
.card:hover {
	@include border-radius(4px);
	background: rgba(252,252,252,1);
}
.card-edit {
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	padding: 0;
	opacity: 0;
	
	.icon-pencil-alt {
		width: 30px;
		height: 30px;
		margin: 0;
		background: rgba(0,0,0,0.05);
		vertical-align: middle;
		padding-top: 5px;
	}
}
.card-edit:hover {
	opacity: 1;
}
.card-image {
	margin: 0;
	padding: 0;	
}
.card-image.hide {
	height: 0;
}
.card-detail {
	padding: 8px;
	font-size: 13px;
}
.card-detail-exerpt {
	font-size: 14px;
	color: $text-color-light;
	padding: 5px 0px;
	text-align: justify;
}
.card-detail-flags {
	span {
		color: #888;
	}
}
.card-detail-labels {
	span {
		width: 45px;
		height: 8px;
		@include border-radius(4px);
		display: inline-block;
	}
}
.card-detail-members {
	margin: 2px 0px;
	.avatar {
		margin: 0px 2px;		
	}
}

// Styles for popup dialogs.
.popup {
	position: absolute;
	z-index: $z-dialog;
	padding: 6px;
	@include box-shadow(0px 0px 3px #999);
	min-width: $dialog-min-width;
}
.popup-header {
	color: $text-color-light;
	padding: 3px 0px;
	margin-top: 5px;
		
	.icon-cancel {
		position: absolute;
		top: 10px;
		right: 6px;
	}
	.icon-cancel:hover {
		color: $text-color;
	}
}
.popup-header-title {
;
}
.popup-body {
	padding: 1px;
}
.popup-box {
	margin: 8px 0px;
}
.popup-form {
	
}
.popup-form-label {
	padding: 2px 0px;
}
input:focus {
	background: white;
	border: 1px solid #76B5D1;
	box-shadow: 0px 1px 3px #37B6EE;
} 
#privacy_preview,#privacy_options {
	height: 0;
}
.privacy-option {
	padding: 4px 0px;	
	
	span {
		display: block;
		margin: 2px 0px;
	}
}
#profile_popup {
	top: 40px;
	right: 1%;	
	min-width: 300px;
	padding: 0;
	
	.popup-body {
		padding: 0;
		margin: 5px 0px;
	}
}
#create_board_popup {
	width: $dialog-create-board-width;

	.show {
		height: auto;
	}
}
.profile-option {
	color: $text-color;
	padding: 8px 10px;
	margin: 0px 0px;
}
.profile-option:hover {
	@extend .white-text;
	background: $highlight-color;
}
#boards_popup {
	top: 40px;
	left: 0%;	
	min-width: 270px;
	font-size: 14px;
	height: 90%;
	overflow-x: hidden;
	overflow-y: scroll;
	
	input {
		margin: 2px 0px;	
	}
	.popup-box-title {
		margin: 10px 0px;
		color: $text-color-light;
	}
	.icon-plus {
		float: right;
		color: $text-color-extralight;
	}
	.icon-plus:hover {
		color: $text-color-light;
	}
	.boards-list {
		margin-left: 0;	
	}
	.boards-list-item {
		position: relative;
		padding: 10px;
		background: #CCE5F4;
		opacity: 0.95;
		margin: 4px 0px;
		
		.color {
			width: 15%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: #0079BF;			
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
		.color:hover {
			background: #2A7098;
		}
		.board-name {
			padding-left: 16%;
			color: $text-color;
		}
	}
}
.board-popup-option {
	margin: 3px 0px;
	color: $text-color-light;
	padding: 7px 5px;
	background: none;
}
.board-popup-option:hover {
	color: $text-color;
	background: #e9e9e9;
	@extend .round;	
}

#create_new_popup {
	@extend #profile_popup;
	max-width: 300px;
}
.create-option {
	padding: 5px 10px;
}
.create-option:hover {
	background: $highlight-color;
	color: white;
}

// Styles for Sidebar menu
.sidemenu {
	position: absolute;	
	z-index: $z-side-menu;
	top: 5px;
	right: -400px;
	transform: translate(0px,0px);
	@include transition(0.5s,all,cubic-bezier(0.165, 0.84, 0.44, 1));
	background: #e2e4e6;
	width: 250px;
	height: 88%;
	padding: 12px;
}
#toggle_sidebar {
	position: absolute;
	top: 15px;
	left: -26px;
	background: #e2e4e6;
	line-height: 2;
}
#toggle_sidebar:before {
	margin-left: 25%;
}
.sidemenu.show {
	right: 0%;
	@include transition(0.2s,all,cubic-bezier(0.165, 0.84, 0.44, 1));
}
.sidemenu-actions {
	margin-bottom: 8px;
	
	#board_menu_nav_toggle {
		padding: 6px 9px;
		color: $text-color-light;
		background: rgba(0,0,0,0.05);		
	}
	#board-menu-nav-toggle:hover {
		background: rgba(0,0,0,0.1);
	}
}
.sidemenu-actions-list {
	list-style: none;
	background: rgba(0,0,0,0.05);
	height: 0;
	//height: 380px; //change to expand the list.
	@include transition(0.1s,height,ease-in-out);
}
.sidemenu-actions-list.show {
	height: 400px; //change to expand the list.
	@include transition(0.1s,height,ease-in-out);
}
.sidemenu-actions-list-item {
	padding: 8px 0px 8px 20px;
	color: $text-color;
}
.sidemenu-actions-list-item:hover {
	background: #e2e4e6;
}
#toggle-sidebar {
	@include transition(0.1s,left,ease-in-out);
	width: 30px;
	height: 30px;
	position: absolute;
	top: 15px;
	left: -26px;
}
#toggle-sidebar:hover {
	left: -24px;
	@include transition(0.1s,left,ease-in-out);
}


// Styles for card display popup
#card_display_popup {
	width: 60%;
	min-height: 20%;
	height: auto;
	z-index: $z-overlay-content;
	background: #edeff0;
	padding: 0;
	top: 10%;

	.popup-header {
		padding: 0;
	}
}
.card-cover {
	width: 100%;
	height: auto;
	background: rgb(250, 250, 250);
	@include transition-all();
}
.card-cover > img {
	max-width: 35%;
}
.card-cover:hover {
	opacity: 0.8;
	@include transition-all();
}
.card-info {
	
}
.card-info-title {

}
.card-info-detail {

	.label {
		color: $text-color-light;
		display: block;
		margin-bottom: 6px;
	}
	.btn-add {
		line-height: 2;
		background: #dadada;
		@extend .round;
	}
	.btn-add:hover {
		color: #222;
	}
}
.card-info-detail-members,.card-info-detail-labels {
	margin: 0px 25px 0px 0px;
}


// * Include responsive styles
@media (min-width: $breakpoint-medium) and (max-width: ($breakpoint-large - 1))  {

  @import 'partials/_tablet';

}
@media (min-width: $breakpoint-small) and (max-width: ($breakpoint-medium - 1))  {

  @import 'partials/_phone';

}
// * Print media styles
@media print  {
	@import 'partials/_print'
}