// *
// * Version: 0.0.1
// * Created by: Shidil Eringa <shidil@qburst.com>,
// *
// * Stylesheet for desktop computers. Responsive components at the end of the sheet.
// *

// * Import Modules and Variables
@import "modules/base";

// * Import partials
@import "partials/reset";
@import "partials/buttons";

// * Types and links
html{
	background: $bg-color;
}
body{
	font-family: $body-font;
	font-size: 13pt;
	color: $text-color;
}
a{
	color: $link-color;
	text-decoration: none;
}
a:hover{
	color: darkslateblue;
}
h1{
	font-size: $size-h1;
	font-weight: 600;
	display: block;
}
img{
	@include img-tag();
}
footer{
	text-align: center;
	font-size: 13pt;
	padding: 30px 0px;
	background: white;
	
	a{
		padding-left: 8px;
		text-decoration: underline;
	}
}
p{
	text-align: left;
}

// * Change the box model. Recommended for resposive websites.
*, *:before, *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// * Replaces the ugly default scrollbar of chrome.
// * forground is white with 60% opacity and background with 20% opacity.
// *
@include scrollbars(.5em, rgba(255,255,255,0.6), rgba(255, 255, 255, 0.2));

// Common styles
.no-display{
	display: none !important;
}
.hidden{
	visibiliy: hidden;
}
.disabled{
	opacity: 0.7;
	cursor: auto;
}
.pointer{
	cursor: pointer;
}
.bold{
	font-weight: 700;
}
.big{
	font-size: 26pt;
}
.small{
	font-size: $size-small;
}
.white-text{
	color: white;
}
.border-bottom{
	border-bottom: 1px solid #999;
}
.underline{
	text-decoration: underline;
}
.round{
	@include border-radius(4px);
}
.avatar{
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	@extend .round;
}

/********** Style for labels **************************/
.green{
	background: green;
}
.blue{
	background: $bg-color;
}
.red{
	background: red;
}
.orange{
	background: orange;
}
.white{
	background: white;
}
/******************************************************/
.overlay{
	width: 100%;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	z-index: $z-overlay;
	background: rgba(1,1,1,0.5);
	opacity: 0;
	overflow: auto;
}
.overlay.visible{
	z-index: $z-overlay-visible;
	opacity: 1;
}

// Layouts
.clear{
	clear: both;
}
.no-overflow{
	overflow: hidden;
}
.wrapper{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	clear: both;
}
.width-90{
	width: 90%;
}
.width-80{
	width: 80%;
}
.width-60{
	width: 60%;
}
.width-50{
	width: 50%;
}
.left{
	float: left;
}
.right{
	float: right;
}
.center{
	float: none;
	margin: 0 auto;
}
.block{
	display: block;
}
.i-block{
	display: inline-block;
}
.absolute-center{
	// Width must be specified inorder to work.
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
}
.text-center{
	text-align: center;
}
.break{
	display: block;
}
.break-1{
	@extend .break;
	margin: 5px 0px;
}
.break-2{
	@extend .break;
	margin: 10px 0px;
}
.break-4{
	@extend .break;
	margin: 20px 0px;
}
// Page Styles
.logo{
	@include add-bg-image(logo);
	//background-position: -271px -38px;
	background-position: center;
	background-size: 100%;
}
.logo-big{
	width: 266px;
	height: 74px;
}
.logo-small{
	@include add-bg-image(logo-small);
	background-position: center;
	background-size: 100%;
	width: 108px;
	height: 30px;
}
.logo-medium{
	width: 200px;
	height: 55px;
}
// Index page sections have alternating background and text color
.alt-bg:nth-child(even){
	color: white;
	background: $bg-color;
}
.alt-bg:nth-child(odd){
	color: $text-color;
	background: white;
}
#hero{
	padding: 6%;
	font-size: 16pt;
	
	h1{
		padding: 2% 15%;
	}
	p{
		padding: 0% 22%;
		color: #555;
	}
}
.home-article{
	font-size: 15pt;
}
.home-article-text{
	padding: 80px 0% 40px;
}
.home-article-image{
	padding: 0px 60px;	
}

// Boards page
.header-item{
	background: rgba(255, 255, 255, 0.27);
	height: 30px;
	/*margin-left: 8px;*/
	@include border-radius(2px);
	padding: 0px 0px 0px 0px;
	cursor: pointer;
	display: inline-block;
	float: none;
	vertical-align: top;
}
.header-item:hover{
	//background: rgba(255, 255, 255, 0.17);
	opacity: 0.85;
}
#header-boards{
	background: $highlight-color;
	height: $header-height;
	padding: 4px;
	position: relative;
	z-index: $z-header;
	
	#logo{
		height: $header-height;	
		@include transition-all();
		opacity: 0.8;
	}
	#logo:hover{
		@include transition-all();
		opacity: 1;
	}
}
// The following styles for individiual header items are very specific.
// TODO: make them classes.
#profile{
		float: right;
		color: white;
		max-width: 140px;
		font-size: 12pt;
		margin-right: 5px;
		figure{
			margin: 0;
			width: 30px;
			display: inline-block;
			vertical-align: middle;
		}
		span{
			margin: 0;
			font-size: 11pt;
			padding-left: 5px;
			padding-right: 10px;
			line-height: 2;
		}
	}
	#notifications{
		@include add-bg-image-color(bell,rgba(255, 255, 255, 0.27));
		margin-right: 5px;
		float: right;
		width: 30px;
		background-size: 20px;
		background-position: center;
	}
	#notifications:hover{
	}
	#add{
		@include add-bg-image-color(plus,rgba(255, 255, 255, 0.27));
		float: right;
		width: 30px;
		background-size: 25px;
		background-position: center;
		margin-right: 5px;
	}
	#boards{
		width: 90px;
		@include add-bg-image-color(icon-white,rgba(255, 255, 255, 0.27));
		background-size: 17px;
		background-position: 6px center;
		color: white;
		font-size: 11pt;
		padding-left: 30px;
		line-height: 2;
		margin-left: 5px;
		display: inline-block;
	}
	#search{
		width: 15%;
		@include add-bg-image-color(search,rgba(255, 255, 255, 0.27));
		@include transition-all();
		background-size: 20px;
		background-position: 95% center;
		input{
			width: 100%;
			background: transparent;
			border: none;
			height: 100%;

		}
		input:focus{
			@include border-radius(4px);
			border: 0;
			width: 100%;
			box-shadow: none;
			-webkit-appearance: none;
			outline: none; 
		}
		#search-open,#search-close{
			  display: inline;
			  margin: 0px 2px;
			  opacity: 0.7;
		}
	}
	#search.focused{
		width: 24%;
		background: white;
		
	}

// Styles for boards page
#boards_container{
	padding: 10px 15px;
	z-index: $z-boards-container;
}
.boards-list-container{
	clear: both;
}
.boards-list-container > h1{
	padding: 4px 0px;
	margin-bottom: 16px;
	margin-top: 20px;
	
	a{
		font-size: 11px;
		color: $text-color-light;
	}
}
.boards-list-container > h1:before{
	color: $text-color-extralight;
	padding-right: 10px;
	margin-right: 10px;
	font-size: 20px;
}
// the styling container
.boards-list{
	margin-left: 35px;
	margin-right: 0px;
}
// 'a' child of the container
.board{
	@extend .white-text;
	@include transition-all();
	position: relative;
	width: 24%;
	height: 105px;
	margin-right: 10px;
	margin-bottom: 10px;
	background: $accent-color;
	padding: 10px 0px 10px 14px;
	font-size: 16px;
}
.board:hover{
	background: $highlight-color;
	color: white;
	@include transition-all();
}
.board-add{
	@extend .text-center;
	background: #d6dadc;
	color: $text-color;
}
.board-add > span{
	vertical-align: sub;
}
.board-add:hover{
	background: #CCD0D3;	
	color: $text-color;
}

// Styles for board list page

#board_ribbon{
	//height: 40px;
	padding: 15px;
	
	.icon-star{
		color: gold;
		padding: 6px;
		background: rgba(1,1,1,0.1);
		font-size: 14px;
	}
	.icon-star,#menu_toggle,#privacy{
		padding: 6px;
		@extend .round;
	}
	.icon-star:hover,#menu_toggle:hover,#privacy:hover{
		background: rgba(1,1,1,0.2);
	}
}
#board_ribbon > h1{
	margin: 0;
}
#board_ribbon #menu_toggle{
	//margin-top: 4px;
}
// The flex box
#board_content{
	overflow-x: auto;
	overflow-y: hidden;
	height: 80vh;
	padding-left: 10px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex: auto;
	align-items: flex-start;
	flex-direction: row;
}
// List is not html list.
// Flex item
.list{
	background: #e2e4e6;
	max-width: 270px;
	min-width: 270px;
	margin: 0px 5px;
	max-height: 80vh;
	// scroll horizontally.
	overflow-x: hidden;
	overflow-y: auto;
	
}
.list-head{
	padding: 6px 10px;
	font-size: 16px;
	
	.icon-download{
		opacity: 0.7;	
		font-weight: normal;
		color: $text-color-light;
	}
	.icon-download:hover{
		opacity: 1;	
	}
}
.list-item{
	@extend .block;
}
.card{
	margin: 4px 8px;
	background: #FFFFFF;
	position: relative;
}
#add-card{
	padding: 6px 10px;
	color: $text-color-extralight;
}
#add-card:hover,.card:hover{
	@include border-radius(4px);
	background: rgba(0,0,0,0.05);
}
.card-edit{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	padding: 0;
	opacity: 0;
	
	.icon-pencil-alt{
		width: 30px;
		height: 30px;
		margin: 0;
		background: rgba(0,0,0,0.05);
		vertical-align: middle;
		padding-top: 5px;
	}
}
.card-edit:hover{
	opacity: 1;
}
.card-image{
	margin: 0;
	padding: 0;	
}
.card-image.hide{
	height: 0;
}
.card-detail{
	padding: 8px;
	font-size: 13px;
}
.card-detail-exerpt{
	font-size: 14px;
	color: $text-color-light;
	padding: 5px 0px;
	text-align: justify;
}
.card-detail-flags{
	span{
		color: #888;
	}
}
.card-detail-labels{
	span{
		width: 45px;
		height: 8px;
		@include border-radius(4px);
		display: inline-block;
	}
}
.card-detail-members{
	margin: 2px 0px;
	.avatar{
		margin: 0px 2px;		
	}
}



// * Include responsive styles
@media (min-width: $breakpoint-medium) and (max-width: ($breakpoint-large - 1)) {

  @import 'partials/_tablet';

}
@media (min-width: $breakpoint-small) and (max-width: ($breakpoint-medium - 1)) {

  @import 'partials/_phone';

}

