// The Trello color scheme is white and blue.
$accent-color: rgb(14, 116, 175);
$bgColor:  rgb(14, 116, 175);
$primaryColor: #026aa7;
$secondaryColor: #cdd2d4;
$primaryFontColor: #555;
$secondaryFontColor: #5e98ba;