@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	-ms-box-shadow: $shadow;
	box-shadow: $shadow;
}
// For resposive design, image must fit in container automatically.
@mixin img-tag(){
	max-width: 100%;
	box-sizing: border-box;
	height: auto;
}
// Applies transition for the specified property only.
@mixin transition($time,$prop,$ease){
	-webkit-transition: $time $prop $ease;
	-moz-transition: $time $prop $ease;
	-ms-transition: $time $prop $ease;
	transition: $time $prop $ease;
}
// gives transition effect for all properties. time and easing are fixed.
@mixin transition-all(){
	-webkit-transition: 0.1s all ease-in-out;
	-moz-transition: 0.1s all ease-in-out;
	-ms-transition: 0.1s all ease-in-out;
	transition: 0.1s all ease-in-out;
	
}
@mixin transform($function){
	-webkit-transform: $function;
	-moz-transform: $function;
	-ms-transform: $function;
	transform: $function;
}
@mixin add-bg-image($url){
	background: url('../images/'+$url+'.png') no-repeat;
}
@mixin add-bg-image-color($url,$color){
	background: url('../images/'+$url+'.png') no-repeat $color;
}
//
// Produces nice scrollbars on chrome browser given the foreground-color and background-color. ///
//
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
	// For Google Chrome
	::-webkit-scrollbar {
	  width:  $size;
	  height: $size;
	}
	::-webkit-scrollbar-thumb {
	  background: $foreground-color;
	  @include border-radius(3px);
	}

	::-webkit-scrollbar-track {
	  background: $background-color;
	}

	// For Internet Explorer
	body {
	scrollbar-face-color: $foreground-color;
	scrollbar-track-color: $background-color;
	}
}
