// Breakpoints
$breakpoint-xl: 		1360px;
$breakpoint-large: 		1024px;
$breakpoint-medium: 	680px;
$breakpoint-small: 		120px;

// Paths
$img: 		    		'../images/';
$sprite: 		    	'../images/sprites.png';
$fonts: 		    	'../font/';

// Colors
$bg-color: rgb(14, 116, 175);
$highlight-color: #0B5B8A;
$accent-color: #0E74AF; // color used for boards list
$error-color: red;
$error-bg-color: white;
$success-color: #390;
$success-bg-color: #EAF5E5;
$text-color: #444;
$text-color-light: #666;
$text-color-extralight: #999;
$title-color: #555;
$link-color: #5E98BA;
//$bgColor:  rgb(14, 116, 175);
//primaryColor: #026AA7;
//$secondaryColor: #CDD2D4;
//$secondaryFontColor: #5E98BA;

// Typography
$body-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$title-font: 'Anaheim', sans-serif;
$size-h1: 17px;
$size-small: 12px;

// Z-INDEX
$z-overlay: -5;
$z-overlay-visible: 15;
$z-header: 10;
$z-boards-container: 6;

// Layout
$header-height: 39px;
